<div class="card">
  <div class="card-block">
    <div class="row">
      <div class="col-md-1">
            <%= image_tag( question.user.avatar_url,class: 'pro-i index-thumb flex-auto  d-lg-block') %> 
      </div>
      <div class="col-md-11">
        <p class="card-text">
          <span class="text-muted"><%= question.user.name %> at <%= question.created_at.to_s(:long) %> Asked </span><br>
          <%= question.question %>
        </p>
      </div>
    </div>
  </div>
</div>