
<section class="site-footer pb-1" style="background: #1f1f1f;">      <!-- Footer section of site -->
    <div class="">


        <hr style="color: white; border-top: 1px solid white; margin-top: 0;">

        <br>


        <p class="text-center copiright " style="color: #5d5d5d;">&copy; Copyright
          2018
          <span style="color: #d6d6d6";>              
            <a href="https://indrakumarmhaski.github.io" target="_blank" style="color:#d6d6d6;">
                Er. Indra Kumar Mhaski
            </a>
            <br>
            <a href="https://indrakumarmhaski.github.io" target="_blank" style="color:#d6d6d6;font-family: 'Nova Square', cursive;">
                IK Production
            </a>
          </span>
        </p>
        <!-- Devloper section -->
        <%# <blockquote class="blockquote pb-1 text-right" style="color:#d6d6d6;font-style: italic;margin-bottom: 0;">
          <p>
            <cite title="Source Title" style="text-decoration: underline;">
              <a href="https://indrakumarmhaski.github.io" target="_blank" style="color:#d6d6d6;">
              IK Production
              </a>
            </cite>
          </p>
        </blockquote> %>
    </div>         <!-- ...Inner container of footer -->
</section>    <!-- ...Footer section -->


