<br>
<br>
<br>

<div class="text-center">
    <h3> Join A Event </h3>
    <%= form_tag('/pages/joinevent') do -%>
    <div>
        <%= label_tag 'join_code', 'Join code' %>
        <%= text_field_tag 'join_code'%>
    </div>
    <div>
        <%= submit_tag 'Join', class: 'btn btn-sm btn-primary' %>
    </div>
    <% end -%>
</div>
