
<div class="text-center body">
    <%= form_tag('/pages/joinevent', class: "form-signin" ) do -%>
      <i class="fas fa-handshake mb-4 mt-5"  width="72" height="72" style="font-size: 50px;"></i>
      <h1 class="h3 mb-3 font-weight-normal">Join a event</h1>
        <%= label_tag 'join_code', 'Join code',class: 'sr-only' %>
        <%= text_field_tag 'join_code', '', class: "form-control", placeholder: "Join Code", autofocus: true %>
      <br>
      <button class="btn btn-lg btn-primary btn-block" type="submit"> Join </button>
    <% end -%>
</div>

